
@{
    ViewBag.Title = "About StarFront";
}

<h2 class="p-5">@ViewBag.Title</h2>

<section class="text-center p-5">
    <h3>Underground Market</h3>
    <p style="width: auto;">This is the underground market. The one place where you can purchase anything without the tax the New Republic will bring. Some of our items are banned in certain regions of the Outer Rim, however we can guarantee that whatever purchases you make here, they be protected and confidential. No need for the New Republic to track your items and no need to worry about the safety of your product or yourself. We have a team of people to ensure that your item makes it to you in however many pieces its supposed to be in and in a safe manner. We also make sure that you're protected from any possible bounties that you may receive if you purchase any of our products.</p>
</section>
<section class="text-center p-5">
    <h3>Star Wars Merchandise</h3>
    <p style="width: auto;">
        We also sell merchandise for any non-fictional people that wish to be apart of the Star Wars Universe without having to worry about the danger within the universe. Shop for our fun and interactive merchandise that anybody of any age can enjoy.
    </p>
</section>

